body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

.newEats {
  float: right;
  padding: 0 20px 20px 0px;
}


.restaurantList {
  width: 275px;
  height: 220px;
  background-color: #e1e1e1;
  border: 1px solid black;
  float: left;
  margin: 0 20px 20px 20px;
}

.restaurantHeader {
  background-color: #7ec479;
  height: 50px;
  width: 1080px;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  margin: 2px 0 0px 0;
}
h3 {
  text-align: left;
  margin: 2px 0px 4px 5px;
}

h4 {
  float: right;
}

h5 {
  margin: 2px 0 0 5px;
}

h6 {
  margin: 0;
  text-align: right;
  padding: 2px 5px 2px 0px;
}

img {
  width: 160px;
  height: 140px;
  padding: 0 0 0 15px;
  /*align-content: center;*/
}

.buttonys {
  float: right;
  padding-top: 100px;
}

label {
  padding: 2px 0 2px 0;
}

input {
  padding: 2px 0 5px 5px;
}

.star {
  float: right;
  width: 20%;
  display: inline;
}
