body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.restaurantList {
  width: 220px;
  height: 220px;
  background-color: #e1e1e1;
  border: 1px solid black;
}

.restaurantHeader {
  background-color: #7ec479;
  height: 50px;
  width: 1080px;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  margin: 2px 0 0px 0;
}
h3 {
  text-align: left;
}

h4 {
  float: right;
}

h5 {
  margin-bottom: 0;
}

img {
  width: 100px;
  height: 100px;
  /*align-content: center;*/
}

.buttonys {
  float: right;
  padding-top: 100px;
}
