body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#box1 {
  width: 200px;
  height: 200px;
  background-color: pink;
}

#box2 {
  width: 200px;
  height: 200px;
  background-color: pink;
}

#box3 {
  width: 200px;
  height: 200px;
  background-color: pink;
}

#box4 {
  width: 200px;
  height: 200px;
  background-color: pink;
}

#box5 {
  width: 200px;
  height: 200px;
  background-color: pink;
}

#box6 {
  width: 200px;
  height: 200px;
  background-color: pink;
}
