extends ../layout

block content

  if obj
    table.table.table-striped
    thead
    tbody
      for restaurant in obj
        div.restaurantHeader
          h5= restaurant.name
      for employee in employees
        div.restaurantEmployees
            h5= ['firstname' + ', ' + 'lastname']
        
